<div class="row">
   <!--col-md-12 start-->
   <div class="col-md-12">
      <div class="page-heading">
         <h1>Bem Vindo <small>Verifique os atalhos disponivéis</small></h1>
      </div>
   </div>
   <!--col-md-12 end-->
   <!--conteudo INCIAL -->
   <!--col-md-12 start-->
   <div class="col-md-12">
     <div class="box-info">
       <h3>Quantidade em caixa: <%= number_to_currency(@money_amount_in_cash_register) %></h3>
     </div>
   </div>
   <div class="col-md-12">
    <div class="box-info">
      <h3>Control+Shift+A - Verificar Atalhos</h3>
      <h3>Control+Shift+L - Novo Lançamento</h3>
      <h3>Control+Shift+S - Novo Lançamento (VENDA)</h3>
      <h3>Control+Shift+F - Novo Lançamento (COMPRA)</h3>  
    </div>
   </div>
</div>
