 <div class="row"> 
          <!--col-md-12 start-->
          <div class="col-md-12">
            <div class="page-heading">
              <h1>Dashboard <small>Estatisticas Iniciais</small></h1>
            </div>
          </div>

           <!--col-md-12 end-->

          <!--conteudo INCIAL -->
          <div class="col-sm-6 col-md-3">
            <div class="box-info">
              <div class="title-box">
                <h3>October 2013</h3>
                <div class="blue-bg">
                  <p>Increaser Profit By </p>
                  <h1> 30%</h1>
                </div>
                <i class="fa fa-tablet"></i>
                <div id="work-progress1" class="pull-right"></div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="box-info">
              <div class="title-box">
                <h3>November 2013</h3>
                <div class="red-bg">
                  <p>Increaser Profit By </p>
                  <h1> 47%</h1>
                </div>
                <i class="fa fa-medkit"></i>
                <div id="work-progress2" class="pull-right"></div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="box-info">
              <div class="title-box">
                <h3>December 2013</h3>
                <div class="green-bg">
                  <p>Increaser Profit By </p>
                  <h1> 57%</h1>
                </div>
                <i class="fa fa-volume-up"></i>
                <div id="work-progress3" class="pull-right"></div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="box-info">
              <div class="title-box">
                <h3>January 2014</h3>
                <div class="maroon-bg">
                  <p>Increaser Profit By </p>
                  <h1> 77%</h1>
                </div>
                <i class="fa fa-comment-o"></i>
                <div id="work-progress4" class="pull-right"></div>
              </div>
            </div>
          </div>
        </div>