


<div class="row">

	<div class="col-md-12">
		<div class="page-heading">
		<h1>Funcionários <small>Cadastrar Funcionários</small></h1>
		</div>
	</div>

	<div class="col-md-12">
		<!--box-info start-->
		<div class="box-info">
			<%= render 'form' %>
		</div><!--box-info end-->
	</div><!--col-md-12 end-->

</div>
