 <div class="row">
  <div class="col-md-12">
   <div class="box-info">
   <h3># <%= @product.name %></h3>
      <hr>
      <div class="panel">
         <div class="bio-graph-heading">Ingredientes: Água gaseíficada, açúcar, extrato de noz de cola, cafeína, corante caramelo IV, acidulante INS 338 e aroma natural.</br>NÃO CONTÉM GLÚTEN. (descrição)
         </div>
         <div class="panel-body bio-graph-info">
            <h1>Informações</h1>
            <div class="row">
               <div class="bio-row">
                  <p><span>Valor </span>: R$ 6,99</p>
               </div>
               <div class="bio-row">
                  <p><span>Funcionário</span>: Patrick Magalhães</p>
               </div>
               <div class="bio-row">
                  <p><span>Setor </span>: CAIXA</p>
               </div>
               <div class="bio-row">
                  <p><span>Departamento </span>: RECEPÇÃO</p>
               </div>
            </div>
            <h1> Informações complementares </h1>
            <div class="panel-body">
               <form role="form" class="form-horizontal">
                  <div class="form-group">
                     <label class="col-lg-2 control-label">Valor</label>
                     <div class="col-lg-6">
                      <div class="input-group"> <span class="input-group-addon">R$</span>
                         <input type="text" class="form-control" />
                      </div>

                   </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label">Data da transação</label>
                  <div class="col-lg-6">
                     <input class="form-control form-control-inline input-medium default-date-picker"  size="16" type="text" value="" />

                  </div>
               </div>
               <div class="form-group">
                  <label class="col-lg-2 control-label">Código do Cliente</label>
                  <div class="col-lg-6">
                     <input type="password" placeholder=" " id="rt-pwd" class="form-control">
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-lg-2 control-label">Quantidade</label>
                  <div class="col-lg-6">
                     <input type="number"  min ="0" placeholder=" " id="rt-pwd" class="form-control">
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-lg-offset-2 col-lg-10">
                     <button class="btn btn-success" onclick="confirmacao('0');" type="button">Entrada</button>
                     <button class="btn btn-danger" onclick="confirmacao('1');" type="button">Saída</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
</div>