<%= @msgg %>
<div class="row">
   <!--col-md-12 start-->
   <div class="col-md-12">
      <div class="page-heading">
         <h1>Lançamentos <small>Identificar um Pedido</small></h1>
      </div>
   </div>
   <!--col-md-12 end-->
   <!--conteudo INCIAL -->
   <!--col-md-12 start-->
   <div class="col-md-12">
      <div class="box-info">
         <h3>Selecione o Tipo</h3>
         <div class="col-md-6">
         <%= link_to ('<button class="btn-primary btn col-md-4">Venda</button>').html_safe, type_product_path('sale')%>
            <%= link_to ('<button class="btn-primary btn col-md-4">Compra</button>').html_safe, type_product_path('purchase')%>
         </div>
      </div>
   </div>
</div>